@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
/* var text-decoration */
/*--
Common Css
--*/
body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}
/*--
Header Start
--*/
header {
	background: #fff;
	padding: 20px 0;
}
header .navbar {
	margin-bottom: 0px;
	border: 0px;
}
header .navbar-brand {
	padding-top: 5px;
}
header .navbar-default {
	background: none;
	border: 0px;
}
header .navbar-default .navbar-nav {
	padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
	color: #333333;
	padding: 10px 26px;
	font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
	color: #000;
}
/*---------------------------------------------
Index Start
-----------------------------------------------*/
.gradient-dark:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, #FFFFFF, #888888);
	opacity: 0.85;
}
.gradient-medium:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, #000000, #1C1C1C);
	opacity: 0.60;
}
.gradient-lighter:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0));
}

hr {
	border-color:#1e4d2b;
}
hr.green {
	border-color:#1e4d2b;
}
hr.gold {
	border-color:#d7d392;
}
hr.orange {
	border-color:#d9782d;
}
hr.grey {
	border-color:#c1c1c1;
}
hr.thick {
	border-width:10px
}
hr.medium {
	border-width:5px;
	margin:auto;
}
hr.thin {
	border-width:2px;
}
/*--------Post-body-------*/
.post-body{
}
.post-body h1, h2, h3, h4, h5, h6 {
	text-align: center;
}


/*--------Tile------------*/
.tile {
	position: relative;
	box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
	margin: 0 5% 25px 5%;
}
.tile .see-more-btn{
	position: absolute;
	bottom: 15px;
	right: 15px;
}
/*--------- Heading------------*/
.heading {
	padding-bottom: 60px;
	text-align: center;
}
.heading h2 {
	color: #000;
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
}
.heading p {
	font-size: 18px;
	line-height: 40px;
	color: #292929;
	font-weight: 300;
}
/*--
footer Start
--*/
/*Make the footer fit the page*/
#wrapper {
	min-height: 100%;
	padding: 0 0 100px;
	position: relative;
}

/*Make the footer fit the page*/
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

footer {
	background: #F5F5F5;
	text-align: center;
	bottom: 0;
	height: 100px;
	padding-top: 32px;
	left: 0;
	position: absolute;
	width: 100%;
}

footer p {
	font-size: 13px;
	line-height: 25px;
	color: #919191;
}
footer a {
	color: #595959;
}
footer .footer-manu {
	padding-bottom: 25px;
}
footer .footer-manu ul {
	margin: 0px;
	padding: 0px;
}
footer .footer-manu ul li {
	display: inline-block;
	padding: 0px 20px;
}
footer .footer-manu ul li a {
	display: inline-block;
	color: #494949;
}
footer .footer-manu ul li a:hover {
	color: #000;
}
