<div class="image">
	<center>
		<a href="{{ site.baseurl }}{{ include.folder }}/{{ include.file }}">
			<img src="{{ site.baseurl }}{{ include.folder }}/{{ include.file }}" style="max-width:95%"/>
		</a>
	</center>
	<p></p>

</div>
